<canvas id="canvas"></canvas>

<%= javascript_include_tag('pixels.js') %>

<img class="slideout-menu-toggle open" src="arrow.png" alt="" />
<div class="slideout-menu">
	<h3> Ants in the Ointment <a href="#" class="slideout-menu-close">×</a></h3>


  <div class="content">
    <p>
      A modified application of Langton's Ants algorithm that swaps pixels
      instead of coloring them.
      <br>
      <br>
      <br>
      'Cells' have two states: left and right.  Ants moving to a cell turn
      90 degrees in the direction of the state of the cell and switch the state of
      the cell.

      <br>
      <br>
      <br>
      Click to add more ants
			<!-- <br>
				<strong>or</strong>
			<br>
			Try another by the old Vincent Van: -->


    </p>

		<!-- <img src="wheat_small.jpeg" alt="" class="van-small" /> -->
  </div>
</div>
